body{
    /*background-color: #75b7fd;*/
    background-image: url(../img/menu.webp);
    background-repeat: repeat;
    background-position: center;
    background-size:cover;
    height: 100%;

}

table{
    background-color: white;
    margin: auto;
    width: 600px;
}

table tr td{
    padding: 1px;
}

/*#header_box{
    border-bottom: 10px solid #1487ff;
}*/

#nav_box{
    border-top: 8px solid #1487ff;
    background-color: #f1f1f1;
    padding: 0px;
    margin: 0px;
    height: 45px;
}

#nav_box ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#nav_box li{
    float: left;
}

.active{
    background-color: #1487ff;
    color: white;
}

#nav_box a{
    padding: 10px;
    text-decoration: none;
}

#nav_box a:hover:not(.active){
    background-color: #07afe8;
    color: white;
    transition: 0.4s;
}

.article_box{
    padding: 10px;
}

.article_box p{
    font-size: 18px;
    text-align: justify;
}

.article_box h2{
    border-bottom: 10px solid #1487ff;
}

#image_box{
    width: 50%;
}

#image_box img{
    width: 100%;
}

#footer_box{
    text-align: center;
    height: 50px;
}